<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--proste okienko z info dla usera-->
<div th:fragment="alert (message, type)">
    <!--message - sluzy do podmiany tekstu w h1-->
    <!--type - przesłanie type spowoduje DODANIE kolejnej klasycss-owej do naszego diva (za dodawanie kolejnej klasy odpowiada dyrektywa classappend)-->
    <div class="alert" th:classappend="'alert-' + ${type}">
        <p th:text="${message}">Alert message...</p>
    </div>
</div>

<!--fragment, ktoremu przekazujemy obiekt typu CreationStatus i w zaleznosci od jego pól wyświetlamy div o odpowiednich klasach-->
<div th:fragment="creationStatus-alert (statusObject)">
    <div class="alert" th:classappend="${statusObject.status} ? 'alert-success' : 'alert-danger'">
        <p th:text="${statusObject.message}">Alert message...</p>
    </div>
</div>

<!--lepsza wersja drugiego fragmentu, bo tutaj zamiast na sztywno wpisywac kod okienka, korzystamy z pierwszego fragmentu z tego pliku, "wywołujemy go"-->
<div th:fragment="creationStatus-alert2 (statusObject)">
    <div th:if="${statusObject.status}">
        <div th:replace="fragments/alert :: alert(message=${statusObject.message}, type='success')" />
    </div>
    <div th:unless="${statusObject.status}"> <!-- w to nie wchodzi, nie wiem czemu!!! -->
        <div th:replace="fragments/alert :: alert(message=${statusObject.message}, type='danger')" />
    </div>
</div>

</body>
</html>