<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Hello world!</title>
</head>
<body>
<h1>Hello world!</h1>
<!--/*@thymesVar id="reversedString" type="java.lang.String"*/-->
<p th:text="'Reversed string: ' + ${reversedString}">No reversed string!</p>
<br/>
<!--/*@thymesVar id="firstName" type="java.lang.String"*/-->
<p th:text="'First name: ' + ${firstName}">default name</p>
<!--/*@thymesVar id="phoneNumber" type="java.lang.String"*/-->
<p th:text="'Phone number: ' + ${phoneNumber}">empty phone number</p>
<br/>
<!--/*@thymesVar id="userName" type="java.lang.String"*/-->
<p th:text="'username ' + ${userName}">default name</p>
<!--/*@thymesVar id="postName" type="java.lang.String"*/-->
<p th:text="'post name: ' + ${postName}">empty phone number</p>
<br/>


</body>
</html>