<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Hello world!</title>
</head>
<body>
<h1>Widok pojedynczego użytkownika...</h1>

<hr/>
<!--/*@thymesVar id="user" type="com.sda.SDASpringcourse.model.User"*/-->
<div th:if="${user}"> <!-- spowoduje wyswietlenie tego diva, tlyko jest user bedzie istnial, w przeciwnym razie przy probie wyswietlenia dostaniemu null pointer exception -->
    <h2 th:text="${user.firstName} + ' ' + ${user.lastName}">First Name and Last Name</h2>
    <p th:text="${user.phoneNumber}">Phone Number</p>
</div>


<hr/>
<div class="abc" th:class="def">cokolwiek</div>

</body>
</html>